    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331!important;
        }
    }
    
    .view,
    body,
    html {
        height: 100%
    }
    
    .navbar {
        background-color: rgba(0, 0, 0, .2)
    }
    
    .page-footer,
    .top-nav-collapse {
        background-color: #1C2331
    }
    
    @media only screen and (max-width:768px) {
        .navbar {
            background-color: #1C2331
        }
    }
    
    .bottom-left {
        position: absolute;
        bottom: 175px;
        left: 175px;
        color: whitesmoke;
    }
    
    .button {
        border-radius: 4px;
        background-color: red;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 250px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 25px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }